 .Section1_Box {
   border-top: 1px solid pink;
   background-color: #03001C;
 }

 body {
   overflow-x: hidden;
 }

 .Col1_Box_1 {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   background-color: #03001C;
 }

 .Col1_Box_1 h1 {
   font-size: 30px;
   font-weight: 800;
   text-shadow: 1px 1px 30px pink;
   color: pink;
 }

 .Col1_Box_1 input[type=email] {
   height: 8vh;
   width: 300px;
   border: none;
   color: #f9f9f9;
   background-color: transparent;
   border-bottom: 2px solid #f9f9f9;
 }

 .Col1_Box_1 input::placeholder {
   color: #f9f9f9;
 }

 .Col1_Box_1 button {
   height: 9vh;
   width: 200px;
   border: none;
   color: #000000;
   font-size: 20px;
   margin-top: 40px;
   font-weight: 600;
   border-radius: 10px;
   background-color: #f9f9f9;
 }

 .Col1_Box_1 button:hover {
   opacity: 0.7;
 }

 .Col2_Box_2 {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #03001C;
 }

 .Col2_Box_2 ul {
   margin: auto;
 }

 .Col2_Box_2 ul li {
   margin: 14px;
   font-size: 13px;
   color: #f9f9f9;
   list-style: none;
   text-transform: uppercase;
 }

 .Col2_Box_2 ul li:hover {
   color: pink;
   cursor: pointer;
   transition: 0.5s;
 }

 .Foot {
   height: 10vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid pink;
   background-color: #03001C;
 }

 .Foot p {
   font-size: 10px;
   text-align: center;
   color: #f9f9f9;
 }

 /*--------------- CSS OF MIDDLE PART OF HOME.JS --------------- */

 * {
   padding: 0;
   margin: 0;
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 }

 .Section_Box {
   height: 100vh;
   display: flex;
   background-image: url("/public/assets/pexels-rômulo-carolino-2914286.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /* background-color: brown; */
 }

 .Content_Box {
   height: 95vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   /* background-color: aqua; */
 }

 .Col_Box_1 {
   height: 22vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* background-color: coral; */
 }

 .Col_Box_1 p {
   font-size: 30px;
   margin-top: 80px;
   font-weight: 700;
   color: pink;
 }

 .Button_Preview {
   height: 10vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: blue; */
 }

 .Button_Preview button {
   height: 8vh;
   width: 200px;
   border: none;
   font-size: 20px;
   font-weight: 600;
   border-radius: 10px;
 }

 .Button_Preview button:hover {
   opacity: 0.7;
 }

 .Col_Box_2 {
   height: 60vh;
   width: 100%;
   /* background-color: red; */
 }

 .Slider_Box {
   height: 50vh;
   display: flex;
   align-items: center;
   /* background-color: black; */
 }

 .Slider_Box p {
   font-size: 55px;
   font-weight: 800;
   color: #f9f9f9;
   text-align: center;
 }

 span {
   color: pink;
 }

 .Section_Box2 {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   /* background-color: #03001C;     */
 }

 .Container_Box2 {
   height: 90vh;
   width: 100%;
   color: #f9f9f9;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   /* background-color: aqua; */
 }

 .Container_Box2 h2 {
   /* color: pink; */
   text-shadow: 1px 1px 30px pink;
   text-transform: uppercase;
 }

 .meh {
   height: 100px;
   width: 320px;
   display: flex;
   align-items: center;
   border-bottom: 1px solid pink;
   justify-content: center;
   /* background-color: aqua; */
 }

 .Navbar_Color {
   background-color: #03001C;
 }

 #offcanvasDarkNavbar {
   background-color: #03001C;
 }

 .Menu {
   background-color: pink;
 }

 .Front-Drop {
   background-color: #03001C;
 }